.team{
    min-height: 100vh;
    background-image: url('../../images/background-ui.png');
}
.team__container{
    width:80%;
    margin: 0 auto;
    padding:80px 0px;
}
.team__container h1{
    font-size:56px;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .team__container h1{
        font-size:48px;
    }
}