.navbar__container{
    height: 15vh;   
   
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0px 40px 0px;
    max-width: 80%;
    margin: 0 auto;
}
.navbar .toggle{
    display:none;
}
.navbar img{
    cursor:pointer;
}
.navbar .navbar__items {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 50%;
    font-size: 24px;
    color: white;
}
.navbar__contact{
    border: 1px solid white;
    border-radius:5px;
    padding: 15px;
    cursor: pointer;
}
.navbar .navbar__items a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


@media only screen and (max-width: 800px){
    .navbar__items{
        display: none !important;
    }
    .navbar img{
        width:185px;
        height:55px;
    }
    .navbar .toggle{
        display:block;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1280px){
    .navbar img{
        width:205px;
        height:60px;
    }
    .navbar{
        max-width:90%;
    }
    .navbar .navbar__items{
        width:60% !important; 
    }
}